recursive-include quantools/apis *
recursive-include quantools/analyticsTools *
recursive-include quantools/library *
recursive-include quantools/model *
recursive-include quantools/pricing *
recursive-include quantools/timeseries *